@charset "utf-8";
/* CSS Document */

* {
   box-sizing: border-box;
}

html,
body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   color: #333;
   line-height: 1.5;
}

body {
   background-color: #fdfdfd;
   margin: 0;
   position: relative;
}

ul,
li {
   font-family: Arial, Helvetica, sans-serif;
   color: #333;
}

a {
   color: orange;
   text-decoration: none;
}

a:hover,
a:focus {
   color: #3397db;
   text-decoration: none;
}

a img {
   border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

#maincontent {
   background-color: #f3f3f3;
   min-height: 100%;
}

#footer {
   background-color: #444;
   color: #aaa;
   font-size: 0.6rem;
   letter-spacing: 1px;
   padding: 25px;
   text-align: center;
   text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
   width: 100%;
   height: 80px;
   background-color: #252831;
   text-align: center;
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   align-content: flex-start;
   justify-content: center;
}

nav h1 {
   margin: 0;
}

nav h1 a {
   color: #fff;
   font-size: 1rem;
   font-weight: 200;
   letter-spacing: 10px;
   text-transform: uppercase;
   display: block;
   padding: 0 10px;
}

#breadcrumb {
   padding: 10px 20px;
   list-style: none;
   background-color: #eee;
   font-size: 1.1rem;
   margin: 0;
   width: 100%;
}

/* Display list items side by side */

#breadcrumb li {
   display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
   padding: 8px;
   color: black;
   content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
   color: #0275d8;
   text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

/* ====================== Map ====================== */

#map-container {
   height: calc(100vh - 30vh - 80px);
}

#map {
   height: 100%;
   width: 100%;
   background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
   width: 100%;
   background-color: #3397db;
   display: -webkit-box;
   display: flex;
   flex-wrap: wrap;
   height: 30vh;
   padding: 20px;
   text-align: center;
}

.filter-options h2 {
   color: white;
   font-size: 1.2rem;
   font-weight: normal;
   line-height: 1;
   margin-bottom: 10px;
   width: 100%;
}

.filter-options select {
   background-color: white;
   border: 1px solid #fff;
   font-family: Arial, sans-serif;
   height: 35px;
   letter-spacing: 0;
   padding: 0 10px;
   width: 100%;
   margin-bottom: 20px;
}

.filter-options select:last-child {
   margin-right: 0;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
   background-color: #f3f3f3;
   list-style: outside none none;
   margin: 0;
   padding: 20px;
   text-align: center;
   display: -webkit-box;
   display: flex;
   flex-wrap: wrap;
}

#restaurants-list:after {
   content: '';
   -webkit-box-flex: 1;
   flex: auto;
}

#restaurants-list li {
   background-color: #fff;
   border: 2px solid #ccc;
   font-family: Arial, sans-serif;
   text-align: left;
   /* width: calc(25% - 18px); */
   width: 100%;
   /* margin-right: 24px; */
   margin-bottom: 24px;
   display: -webkit-box;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;
}

#restaurants-list .restaurant-img {
   width: 100%;
}

#restaurants-list .restaurant-list-content {
   padding: 20px;
}

#restaurants-list li h1 {
   color: #f18200;
   font-family: Arial, sans-serif;
   font-weight: 200;
   letter-spacing: 0;
   line-height: 1.3;
   margin: 0 0 10px 0;
   text-transform: uppercase;
   font-size: 1.2rem;
}

#restaurants-list p {
   margin: 0;
   font-size: 0.9rem;

}

#restaurants-list li a {
   background-color: orange;
   border-bottom: 3px solid #eee;
   color: #fff;
   display: inline-block;
   margin: 15px 0 0;
   padding: 8px 30px 10px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 0.8rem;
   width: 100%;
}

/* ====================== Restaurant Details ====================== */

.inside header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
}

.inside #maincontent {
   position: fixed;
   top: 125px;
   left: 0;
   right: 0;
   bottom: 50px;
   overflow-y: auto;
   min-height: 0;
}

.inside #map-container {
   height: 20vh;
   width: 100%;
}

.inside #map {
   background-color: #ccc;
   height: 100%;
   width: 100%;
}

.inside #footer {
   bottom: 0;
   position: fixed;
   width: 100%;
   height: 50px;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#restaurant-name {
   color: #f18200;
   font-weight: normal;
   text-align: center;
   font-size: 1.3rem;
   letter-spacing: 0;
   margin: 0 0 15px;
   text-transform: uppercase;
   line-height: 1.1;
}

#restaurant-img {
   width: 100%;
   display: inline-block;
}

#restaurant-cuisine {
   background-color: #333;
   color: #ddd;
   font-weight: 300;
   letter-spacing: 10px;
   padding: 8px 0;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
   margin: 0 0 10px;
   line-height: 1;
}

#restaurant-address {
   margin: 0 0 10px;
}

#restaurant-hours {
   font-size: 0.8rem;
}

#restaurant-container,
#reviews-container {
   border-bottom: 1px solid #d9d9d9;
   border-top: 1px solid #fff;
   padding: 20px;
   width: 100%;
}

#reviews-container h2 {
   color: #f58500;
   font-weight: 300;
   margin-bottom: 13px;
   font-size: 1.3rem;
   line-height: 1.1;
   text-transform: uppercase;
   text-align: center;
}

#reviews-list {
   margin: 0;
   padding: 0;
}

#reviews-list li {
   background-color: #fff;
   border: 2px solid #f3f3f3;
   display: block;
   list-style-type: none;
   margin: 0 0 20px;
   overflow: hidden;
   padding: 15px;
   width: 100%;
   border-radius: 5px;
}

#reviews-list li:last-child {
   margin-bottom: 0;
}

#reviews-list li p {
   margin: 0 0 10px;
   font-size: 0.9rem;
}

#restaurant-hours td {
   color: #666;
}

@media screen and (min-width: 600px) {
   #map-container {
      height: 40vh;
   }

   .filter-options {
      height: auto;
      flex-wrap: nowrap;
      align-items: center;
   }

   .filter-options h2 {
      width: auto;
      margin-right: 20px;
      margin-bottom: 0;
   }

   .filter-options select {
      max-width: 200px;
      margin-bottom: 0;
      margin-right: 20px;
   }

   .filter-options select:last-child {
      margin-right: 0;
   }

   #restaurants-list li {
      width: calc((100% / 3) - 18px);
      margin-right: 24px;
   }

   #restaurants-list li:nth-child(3n) {
      margin-right: 0;
   }

   .inside #maincontent {
      display: flex;
      flex-wrap: wrap;
   }

   .inside #map-container {
      height: 25vh;
   }

   #restaurant-container,
   #reviews-container {
      width: 50%;
      border-bottom: 0;
   }

   #restaurant-container {
      border-right: 1px solid #d9d9d9;
   }

   #reviews-container h2 {
      font-size: 1.3rem;
      line-height: 1.1;
   }
}

@media screen and (min-width: 900px) {
   #map-container {
      height: 50vh;
   }

   #restaurants-list li {
      width: calc((100% / 4) - 18px);
      margin-right: 24px;
   }

   #restaurants-list li:nth-child(3n) {
      margin-right: 24px;
   }

   #restaurants-list li:nth-child(4n) {
      margin-right: 0;
   }
}

@media screen and (min-width: 1200px) {
   #map-container {
      min-height: 400px;
   }
   
   .inside #map-container {
      min-height: 0;
   }
}

@media screen and (min-width: 1900px) {
   #restaurants-list {
      max-width: 1900px;
      margin: 0 auto;
   }
}